/**
 * Author: Nuțiu Denis
 * Project Name: Rock Paper Scissors Web
 * 
 */

$game-slide: #fd9e0a;
$credits-slide: #333333;
$button-color: #77ba01;
$go-button-active: #FF3300;

$player-score: #008b00;
$computer-score: #c60000;

$selected-color: white;

@import "compass/css3/";
@import "_styles.scss";