@charset "UTF-8";
/**
 * Author: Nu╚Ťiu Denis
 * Project Name: Rock Paper Scissors Web
 * 
 */
/**
 *
 * SlideStyles
 * 
 */
/* line 6, ../sass/_styles.scss */
.slide {
  padding: 1em;
}
@media screen and (min-width: 768px) {
  /* line 6, ../sass/_styles.scss */
  .slide {
    padding: 5em;
  }
}

/* line 12, ../sass/_styles.scss */
.game-slide {
  background-color: #fd9e0a;
}
/* line 15, ../sass/_styles.scss */
.game-slide header h1, .game-slide header label {
  font-family: "Open Sans", sans-serif;
  font-size: 2.57143rem;
  line-height: 1.1;
  color: #252525;
  display: inline-block;
  font-weight: normal;
}
/* line 24, ../sass/_styles.scss */
.game-slide header label {
  visibility: visible;
  cursor: pointer;
  -moz-transition: visibility 1s;
  -o-transition: visibility 1s;
  -webkit-transition: visibility 1s;
  transition: visibility 1s;
}
/* line 29, ../sass/_styles.scss */
.game-slide header button {
  display: none;
  visibility: hidden;
  padding: 1.5em;
  margin-bottom: 20px;
  font-weight: bold;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #77ba01;
  border-color: #365500;
  color: #162200;
  -moz-transition: visibility 1s;
  -o-transition: visibility 1s;
  -webkit-transition: visibility 1s;
  transition: visibility 1s;
}
/* line 41, ../sass/_styles.scss */
.game-slide header .name-input {
  display: none;
  visibility: hidden;
  height: 4.57143rem;
  width: 150px;
  padding: 10px;
  color: #3f3f3f;
  font-size: 2.57143rem;
  background-color: rgba(255, 255, 255, 0.5);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: visibility 1s;
  -o-transition: visibility 1s;
  -webkit-transition: visibility 1s;
  transition: visibility 1s;
}
/* line 55, ../sass/_styles.scss */
.game-slide header.editMode label {
  display: none;
  visibility: hidden;
}
/* line 59, ../sass/_styles.scss */
.game-slide header.editMode .name-input, .game-slide header.editMode button {
  visibility: visible;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 66, ../sass/_styles.scss */
.credits-slide {
  background-color: #333333;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 74, ../sass/_styles.scss */
.credits-slide h1, .credits-slide h2 {
  color: white;
  font-weight: bold;
}
/* line 78, ../sass/_styles.scss */
.credits-slide h1 {
  text-decoration: underline;
  font-size: 2.5em;
}
@media screen and (min-width: 768px) {
  /* line 78, ../sass/_styles.scss */
  .credits-slide h1 {
    font-size: 5em;
  }
}
/* line 85, ../sass/_styles.scss */
.credits-slide h2 {
  font-size: 1.5em;
}
@media screen and (min-width: 768px) {
  /* line 85, ../sass/_styles.scss */
  .credits-slide h2 {
    font-size: 3em;
  }
}
/* line 92, ../sass/_styles.scss */
.credits-slide a:hover {
  color: white;
}
